@use "sass:math";

@function rem($pxVal) {
  @return math.div($pxVal, 16) * 1rem;
}

@mixin flexbox($direction: row, $wrap: nowrap, $justify: flex-start, $align: stretch, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin textGradient($direction: bottom, $start, $end) {
  background: linear-gradient(to $direction, $start, $end);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin resetList {
  list-style: none;
  margin-block: 0;
  padding-inline-start: 0;
}
