$spacing: 0.25rem;

$breakpoints: (
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  xxl: 1536px,
);

$colors: (
  "white": #fff,
  "black": #000,
  "blue": #5d7a97,
  "darkBlue": #1e293a,
  "pink": #ff2896,
  "orange": #ff9b65,
  "green": #00d5d5,
  "cyan": #00ffc2,
);

$agosticColors: (
  "body-bg-color": (
    light: "white",
    dark: "black",
  ),
  "body-text-color": (
    light: "black",
    dark: "white",
  ),
);
